body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #1a872c; 
  color: #edecec;
}
 
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}
 

.header {
  background: #349938; 
  color: rgb(2, 154, 38);
  padding: 15px 0;
}
 
.header nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}
 
.logo {
  margin: 0;
  display: inline-block;
  font-size: 24px;
}
 
nav {
  float: right;
  margin-top: 5px;
}
 

.hero {
  height: 350px;
  background-size: cover;
  background-position: center;
  position: relative;
}
 
.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.container-about p {
  line-height: 1.5;
   text-align: auto-fit;
   color: rgb(10, 63, 2)
}
 

.lineup-intro {
  text-align: center;
}
 
.lineup-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}


 
.lineup-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
 
.artist-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center; color: #000000;
}
 
.artist-card img {
  width: 100%;
  border-radius: 6px;
}

.site-footer {
    padding: 16px;
    text-align: center;
    color: #989898;
}


.Tick {
  height: 350px;
  background-size: cover;
  background-position: center;
  position: relative;
}


.Contact{
 h3{color:rgb(233, 231, 231);}
 body{background-color:rgb(109, 109, 109)} 
 li{color:rgb(233, 231, 231)}
 h1{background-color:rgba(168, 0, 0, 0.865)}
 h2{color:rgb(233, 231, 231)}

 img{display: block; margin: 0.5px auto; border-radius: 0px; float: left;}
}


 
    body {
      font-family: Arial, sans-serif;
      background-color: #132711;
      color: #ffffff;
      margin: 0;
    }
 
    header {
      background-color: #193611;
      padding: 20px;
      text-align: center;
    }
 
    .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 10px;
    }
 
    .ticket {
      background-color: #0e9e70;
      padding: 15px; 
      margin-bottom: 15px;
      border-radius: 8px;
    }
 
    .ticket h2 {
      margin: 0 0 5px 0;
    }
 
    .price {
      font-weight: bold;
      color: #b6dd29;
    }
 
    input {
      width: 60px;
      padding: 5px;
      margin-top: 5px;
    }
 
    .summary {
      background-color:#041407;
      padding: 15px;
      border-radius: 8px;
      text-align: center;
      margin-top: 20px;
    }
 
    button {
      background-color: #22c55e;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 6px;
    }



    